---
import { Image } from 'astro:assets';
import Flowers from "../assets/Flowers.jpg";
---

<div class="card bg-base-100 image-full w-full shadow-sm">
    <figure><Image src="/Flowers.jpg" width={800} height={533} alt="Flowers" /></figure>
    <div class="card-body">
        <h2 class="card-title">¡Felices 4 meses, Ali! Te amo mucho 💖</h2>
        <p>Este mes hemos aprendido muchas cosas <strong>juntos</strong> 💑. Fueron momentos difíciles que resolvimos con <strong>comunicación</strong> 🤝 y sin faltas de respeto; dando de más cuando el otro no podía hacerlo ❤️.</p>
        <p>Y qué decir de esos <strong>momentos increíbles</strong> como el finde de San Valentín, donde me sentí como nunca: <em>"En Casa"</em> ✨.</p>
        <p>Siempre juntos porque <strong>nos elegimos a diario</strong>, fortaleciendo nuestro vínculo cada día más 💕.</p>
        <p><br><strong>Te amo de aqui a la luna a pasitos de tortuga</strong> 💚.</p>
        <div class="card-actions justify-center pt-4">
            <button id="fireworks-btn" class="btn btn-success">
                <span class="text-xl" style="pointer-events: none;">¡Te amo!</span>
                <span class="text-xs" style="pointer-events: none;">Pd: Sube el volumen 🎆</span>
            </button>
        </div>
    </div>
</div>