---
import Base from "../layouts/Base.astro";
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
import Countdown from "../components/Countdown.astro";
import Diff from "../components/Diff.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

import { getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const { title, sideBarActiveItemID } = Astro.props;
---

<!doctype html>
<html lang={lang}>
	<head>
		<Base title={title} description={"TODO"} />
	</head>
	<body class="flex flex-col min-h-screen">
		<div class="drawer lg:drawer-open grow">
			<input id="my-drawer" type="checkbox" class="drawer-toggle" />
			<div class="drawer-content flex flex-col">
				<Header />
				<div class="md:flex md:justify-center grow">
					<main class="p-6 pt-10 lg:max-w-225 max-w-[100vw]">
						<Countdown />
						<slot />
						<Diff />
						<slot />
					</main>
				</div>
				<Footer class="mt-auto" />
			</div>
			<!--<Sidebar sideBarActiveItemID={sideBarActiveItemID} />-->
		</div>
	</body>
</html>
